@page
@model Assignment1v3.Pages.Assignments.AssignSubModel
@{
	ViewData["Title"] = "AssignSub";
}

<h1>Assignment Submit</h1>

<div>
    <h4>Assignment</h4>
    <hr /><dl class="row">
        <dt class="col-sm-2">
            Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.course)
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.name)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.description)
        </dd>
        <dt class="col-sm-2">
            Points
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.maxPoints)
        </dd>
        <dt class="col-sm-2">
            Open Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.startDate)
        </dd>
        <dt class="col-sm-2">
            Due Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.dueDate)
        </dd>
        <dt class="col-sm-2">
            Upload Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.uploadType)
        </dd>
    </dl>
</div>
<div>
    
    <!--Need to go to assignment page-->
    @if (Model.Assignment.uploadType == "File Upload")
    {
        
        <form method="post" enctype="multipart/form-data" class="fileUpload">
            <input type="file" id="fileInput" name="fileUpload" accept="*" />
            <input type="hidden" asp-for="Submission.maxPoints" value="@Model.Assignment.maxPoints">
            <span asp-validation-for="Submission.TextBox" class="text-danger"></span>
            <br />
            <button type="submit" class="btn cust-btn btn-primary fileUpload">Submit</button>
        
        </form>
    }
    else
    {
        <form method="post">
            <textarea asp-for="Submission.TextBox" class="textbox"></textarea>
            <input type="hidden" asp-for="Submission.maxPoints" value="@Model.Assignment.maxPoints">
            <span asp-validation-for="Submission.TextBox" class="text-danger"></span>
            <br />
            <button type="submit" class="btn cust-btn btn-primary AssignmentUpload">Submit</button>

        </form>
    }
</div>