@page
@model Assignment1v3.Pages.Assignments.InstructorCourseViewDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assignment</h4>
    <hr /><dl class="row">
        <dt class="col-sm-2">
            Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.course)
        </dd>
        <dt class="col-sm-2">
           Assignment Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.name)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.description)
        </dd>
        <dt class="col-sm-2">
            Max Points
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.maxPoints)
        </dd>
        <dt class="col-sm-2">
            Open Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.startDate)
        </dd>
        <dt class="col-sm-2">
            Due Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.dueDate)
        </dd>
        <dt class="col-sm-2">
            Assignment Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.uploadType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Assignment?.ID">Edit</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Assignment?.ID">Grade</a> |
    <a class="red-link" asp-page="./Delete" asp-route-id="@Model.Assignment?.ID" style="color: red;">Delete</a> |
    <a asp-page="./InstructorCourseView" asp-route-courseId="10">Back to List</a>
</div>

