@page
@model Assignment1v3.Pages.Assignments.InstructorCourseViewModel

@{
    ViewData["Title"] = "Assignments for " + Model.SelectedCourse.CourseName;
}

<h1> Instructor Assignments @Model.SelectedCourse.CourseName</h1>

<p>
    <a class="btn btn-primary" asp-page= "Create"> Create Assignment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Due Date
            </th>
            <th>
                Submission Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uploadType)
                </td>
                <td>
                <a asp-page="./InstructorCourseViewDetails" asp-route-id="@item.ID">Detail</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <!--Need to go to a grade page-->
                <a asp-page="./Grade">Submissions</a>|
                <a class="red-link" asp-page="./Delete" asp-route-id="@item.ID" style="color: red;">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
