@page
@model Assignment1v3.Pages.Assignments.StudentCourseViewDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assignment</h4>
    <hr /><dl class="row">
        <dt class="col-sm-2">
            Course
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.course)
        </dd>
        <dt class="col-sm-2">
            Assignment Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.name)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.description)
        </dd>
        <dt class="col-sm-2">
            Max Points
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.maxPoints)
        </dd>
        <dt class="col-sm-2">
            Open Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.startDate)
        </dd>
        <dt class="col-sm-2">
            Due Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.dueDate)
        </dd>
        <dt class="col-sm-2">
            Assignment Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.uploadType)
        </dd>
    </dl>
</div>
<div>
    <!--Need to go to assignment page-->
    <a asp-page="./StudentCourseView" asp-route-courseId="@Model.Course.Id">Back To List</a> |
    <!--Add sumbit button that takes them to the submit area-->
</div>

