@page 
@model Assignment1v3.Pages.Assignments.StudentCourseViewModel

@{
    ViewData["Title"] = "Assignments for " + Model.SelectedCourse.CourseName;
}
<!--/Assignments/StudentCourseView?courseId=1-->
<h1>Student Assignments @Model.SelectedCourse.CourseName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Due Date
            </th>
            <th>
                Submission Type
            </th>
            <th>
                Grade
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uploadType)
                </td>
                <td>
                    @{
                        int assignmentId = item.ID;
                        int? highestGrade = Model.HighestGrades.ContainsKey(assignmentId) ? Model.HighestGrades[assignmentId] : null;
                        int maxPoints = item.maxPoints;

                        if (highestGrade.HasValue)
                        {
                            if (highestGrade.Value >= 0)
                            {
                                <span>@highestGrade/@maxPoints</span>
                            }
                            else
                            {
                                <span>Not submitted yet</span>
                            }
                        }
                        else
                        {
                            <span>Not submitted yet</span>
                        }
                    }
                </td>
               
                <td>
                    <a asp-page="./StudentCourseViewDetails" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./AssignSub" asp-route-id="@item.ID">Submit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
