@page
@model Assignment1v3.Pages.Home.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="row">
    @foreach (var course in Model.Course)
    {
        <div class="col-md-3 mb-3">
            <div class="card custom-card" style="width: 18rem;">
                <img class="card-img-top" src="/profilePictures\800px_COLOURBOX3959772.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@course.CourseNumber</h5>
                    <p class="card-text">@course.CourseName</p>
                    <p class="card-text">@course.Location</p>
                    <p class="card-text">@course.StartTime</p>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@course.Id">Details</a>
                
                </div>
            </div>
         </div>
    }
</div>

    </div>
    </grid>
</table>

