@page
@model Assignment1v3.Pages.Home.InstructorDashboardModel

@{
    ViewData["Title"] = "Instructor Dashboard";
}

<div class="container">
    <h1>Instructor Dashboard</h1>

    <p>
        <a class = "btn btn-primary" asp-page="/Courses/Create">Create New Course</a>
    </p>

    <div class="row">
        <div class="col-md-9">
            <!-- Main Content -->
            @foreach (var instructorCourse in Model.InstructorCourses)
            {
                <div class="col-md-3 mb-3">
                    <div class="card custom-card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-page="/Assignments/InstructorCourseView" asp-route-courseId="@instructorCourse.Course.Id">@instructorCourse.Course.CourseNumber</a>
                            </h5>
                            <h5 class="card-title">
                                @instructorCourse.Course.CourseName
                            </h5>
                            <p class="card-text">@instructorCourse.Course.Location</p>
                            <p class="card-text">@instructorCourse.Course.StartTime</p>
                            <a class="btn btn-primary" asp-page="./InstructorDetails" asp-route-id="@instructorCourse.Course.Id">Details</a>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@instructorCourse.Course.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-md-3">
            <!-- Side Section - To-Do -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">To-Do</h5>
                    <!-- Add To-Do list here -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
