@page
@model Assignment1v3.Pages.Home.InstructorDashboardModel

@{
    ViewData["Title"] = "Instructor Dashboard";
}

<style>
    .Assignment-card {
        width: auto;
        background-color: #D4F1F4;
        border: 1px solid #05445E;
        margin: 3px;
        padding: 5px;
    }
</style>

<div class="container">
    <h1>Instructor Dashboard</h1>

    <p>
        <a class="btn btn-primary" asp-page="/Courses/Create">Create New</a>
    </p>

    <div style="float:left; width: 75%;">
        <div class="row row-cols-2 col-md-9" style="width: 100%;">
            <!-- Main Content -->
            @foreach (var course in Model.Course)
            {
                <div class="card custom-card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-page="/Assignments/InstructorCourseView" asp-route-courseId="@course.Id">@course.CourseNumber</a>
                        </h5>
                        <p class="card-text">@course.CourseName</p>
                        <p class="card-text">@course.Location</p>
                        <p class="card-text">@course.StartTime</p>
                        <a class="btn btn-primary" asp-page="./InstructorDetails" asp-route-id="@course.Id">Details</a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@course.Id">Delete</a>
                    </div>
                </div>
				}
        </div>        
    </div>
    <div class="col-md-3" style="float:right; margin-bottom: 60px;">
        <!-- Side Section - To-Do -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">To-Do</h5>
                <!--To-Do list-->
                @if (Model.TO_DO.Any())
                {
                    @foreach (var assignment in Model.TO_DO)
                    {
                        <div class="Assignment-card">
                            <a style="font-weight: bold; font-size: 25px;" asp-page="/Assignments/Grade" asp-route-submissionId="@assignment.ID">@assignment.Upload</a>
                            <p> @assignment.TextBox</p>
                            <p>Points Possible: @assignment.maxPoints</p>
                            <p>Submission Type: @assignment.submissionType</p>
                        </div>
                    }
                }
                else
                {
                    <p>No assignments to display.</p>
                }
            </div>
        </div>
    </div>
</div>
