@page
@model Assignment1v3.Pages.Home.StudentDashboardModel

@{
    ViewData["Title"] = "Student Dashboard";
}

<div class="container">
    <h1>Student Dashboard</h1>

    <div class="row">
        <div class="col-md-9">
            <!-- Main Content -->
            @foreach (var course in Model.Course)
            {
                <div class="col-md-3 mb-3">
                    <div class="card custom-card" style="width: 18rem;">
                        <div class="card-body">
                            <a asp-page="/Assignments/StudentCourseView" asp-route-courseId="@course.Id">@course.CourseNumber</a>
                            <h5 class="card-title">
                                @course.CourseName
                            </h5>
                            <p class="card-text">@course.Location</p>
                            <p class="card-text">@course.StartTime</p>
                            <a class="btn btn-primary" asp-page="./StudentDetails" asp-route-id="@course.Id">Details</a>
                            <a class="btn btn-danger" asp-page="./DropCourse" asp-route-id="@course.Id">Drop</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <!-- Side Section - To-Do -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">To-Do</h5>
                    <!-- Add your To-Do list here -->
                </div>
            </div>
        </div>
    </div>
</div>